# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Output files
output/

# Data files
data/

cache/
cache_rounds/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm

# OS
.DS_Store

# Editor
.vscode/
.idea/